<!-- A program to show a 3d Web GL demo -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Worlduality - 3d Web GL demo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<style>
body {
  margin: 0px;
  overflow: hidden;
}
#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  </style>
</head>
<body>
    <div id="main"></div>

  <script src="js/three.js"></script>
  <script src="js/StereoEffect.js"></script>
  <script src="js/DeviceOrientationControls.js"></script>
  <script src="js/OrbitControls.js"></script>
  <script src="js/threex.videotexture.js"></script>
  <script src="js/threex.dynamictexture.js"></script>
  <script src="js/connect.js"></script>
  <script src="js/objects.js"></script>
  <script src="js/matrix.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>
